In [19]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # to get the password without showing the input
password = getpass.getpass()
pd.options.display.max_columns = None

········

In [20]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/passenger_satisfaction'
engine = create_engine(connection_string)

data = pd.read_sql_query('SELECT * FROM data', engine)
data.head()

,id,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,on-board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
1,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
2,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
3,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
4,111157,Female,Loyal Customer,26,Personal Travel,Eco,1180,3,4,2,1,1,2,1,1,3,4,4,4,4,1,0,0.0,neutral or dissatisfied

In [61]:
query = '''
        SELECT satisfaction, gender, count(id)
        FROM data
        group by satisfaction, gender
        '''

data = pd.read_sql_query(query, engine)
data.head()

              satisfaction  gender  count(id)
0  neutral or dissatisfied    Male      20024
1                satisfied  Female      16960
2  neutral or dissatisfied  Female      21137
3                satisfied    Male      16998

In [62]:
query = '''
        SELECT gender, type_of_travel, avg(flight_distance)
        FROM data
        group by gender, type_of_travel
        '''

data = pd.read_sql_query(query, engine)
data.head()

   gender   type_of_travel  avg(flight_distance)
0    Male  Business travel             1309.1773
1  Female  Business travel             1276.7683
2  Female  Personal Travel              785.9432
3    Male  Personal Travel              782.4442

In [63]:
query = '''
        SELECT gender, customer_type, class, count(id)
        FROM data
        where customer_type = 'Loyal Customer'
        and class = 'Eco'
        group by gender
        '''

data = pd.read_sql_query(query, engine)
data.head()

   gender   customer_type class  count(id)
0  Female  Loyal Customer   Eco      13190
1    Male  Loyal Customer   Eco      13253

In [60]:
query = '''
        SELECT *, avg(Total_Score) 
        FROM ( 
        SELECT class, (inflight_wifi_service+"departure/arrival_time_convenient"+ease_of_online_booking+gate_location+food_and_drink+online_boarding+seat_comfort+inflight_entertainment+"on-board_service"+leg_room_service+baggage_handling+checkin_service+inflight_service+cleanliness)as Total_Score
        FROM data)
        '''

data = pd.read_sql_query(query, engine)
data.head()

OperationalError: (pymysql.err.OperationalError) (1248, 'Every derived table must have its own alias')
[SQL:
        SELECT *, avg(Total_Score)
        FROM (
        SELECT class, (inflight_wifi_service+"departure/arrival_time_convenient"+ease_of_online_booking+gate_location+food_and_drink+online_boarding+seat_comfort+inflight_entertainment+"on-board_service"+leg_room_service+baggage_handling+checkin_service+inflight_service+cleanliness)as Total_Score
        FROM data)
        ]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [59]:
query = '''
        SELECT gender, class, (inflight_wifi_service+"departure/arrival_time_convenient"+ease_of_online_booking+gate_location+food_and_drink+online_boarding+seat_comfort+inflight_entertainment+"on-board_service"+leg_room_service+baggage_handling+checkin_service+inflight_service+cleanliness)as Total_Score
        FROM data
        '''

data = pd.read_sql_query(query, engine)
data.head()

   gender     class  Total_Score
0    Male  Business         29.0
1  Female  Business         46.0
2  Female  Business         35.0
3    Male  Business         43.0
4  Female       Eco         28.0